{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'home.css' %}">
<head>
   <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
   <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
   <input type="checkbox" id="active">
   <label for="active" class="menu-btn"><span></span></label>
   <label for="active" class="close"></label>
   <div class="wrapper">
      <ul>
         <li><a href="">Home</a></li>
         <li><a href="ttn">TTN</a></li>
         <li><a href="twilio">Twilio</a></li>
         <li><a href="devices">Devices</a></li>
      </ul>
   </div>
   <div class="content">
      <div class="title">
         Device Registration
      </div>
      <p>
         Building a single cloud platform to support two IoT technologies
      </p>
   </div>
</body>