{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'constants.css' %}">
<link rel="stylesheet" href="{% static 'ttn.css' %}">
<main id="main" class="container">
    <div class="row" style="margin-left:150px; margin-right:150px">
        <div class="col-xs-12 col-lg-offset-3 col-lg-6">
            <div class="m-b-md text-center">
                <h1 id="title">Twilio</h1>
                <h2>Device Registration</h2>
                <p id="description" class="description" class="text-center">Building a single cloud platform to support
                    two
                    IoT technologies
                </p>
                {% if error is not None %}
                <p style="color:red;">Error: {{error}}</p>
                {% endif %}
            </div>
            <form method="GET" action="" id="survey-form" name="survey-form">
                <fieldset>
                    <label for="iccid" id="iccid-label">
                        iccid *
                        <input class="" type="text" id="device_id" name="device_id"
                            placeholder="Enter your iccid (required)" required />
                    </label>
                </fieldset>
                <fieldset>
                    <label for="registration_code" id="registration_code-label">
                        Registration Code *
                        <input class="" type="text" id="registration_code" name="registration_code"
                            placeholder="Enter your registration code (required)" required />
                    </label>
                </fieldset>
                <button id="submit" type="submit" class="btn">Submit the form</button>
            </form>
        </div>
    </div>
</main>
<link rel="stylesheet" href="{% static 'home.css' %}">
<!-- menu bar -->

<body>
    <!-- <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span> -->
    <span style="    position: absolute;
    z-index: 1;
    right: 20px;
    top: 20px;
    height: 50px;
    width: 50px;
    font-size:30px;cursor:pointer;" onclick="openNav()">&#9776;</span>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">Home</a>
        <a href="/ttn">TTN</a>
        <a href="">Twilio</a>
        <a href="/devices">Devices</a>
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

</body>