@import './constants.css';

.m-b-xs {
    margin-bottom: 2%;
  }
  
  .m-b-md {
    margin-bottom: 10%;
  }
  
  .m-t-xs {
    margin-top: 2%;
  }
  
  .m-t-sm {
    margin-top: 5%;
  }
  
  * {
    outline: 0 !important;
  }
  
  body {
    padding: 2% 0;
    background-color: var(--background-color);
  }
  
h1 {
    font-family: "Roboto", sans-serif;
    font-size: 2.2em;
    font-weight: 300;
    color: var(--accent-color);
    text-transform: uppercase;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
}

.styled-table thead tr {
    background-color: var(--accent-color);
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--accent-color);
}

.title {
    text-align: center;
}